@font-face {
  font-family: "iconfont"; /* Project id 2197085 */
  src: url('iconfont.woff2?t=1620455355484') format('woff2'),
       url('iconfont.woff?t=1620455355484') format('woff'),
       url('iconfont.ttf?t=1620455355484') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconcustomer:before {
  content: "\e619";
}

.iconempty_cp:before {
  content: "\e60d";
}

.iconempty_at:before {
  content: "\e617";
}

.iconblock:before {
  content: "\e721";
}

.iconhtml:before {
  content: "\e78c";
}

.icongrid:before {
  content: "\e79c";
}

.icontext:before {
  content: "\e768";
}

.iconselect:before {
  content: "\e616";
}

.icontabs:before {
  content: "\e8cd";
}

.iconinput:before {
  content: "\e629";
}

.iconaudit-diff:before {
  content: "\e611";
}

.iconaudit-file:before {
  content: "\e613";
}

.icontable:before {
  content: "\e614";
}

.iconaudit-list:before {
  content: "\e615";
}

.iconaudit-text:before {
  content: "\e618";
}

.iconlist:before {
  content: "\e612";
}

.iconimport:before {
  content: "\e60c";
}

.iconlattice:before {
  content: "\e60e";
}

.iconimgupload:before {
  content: "\e60f";
}

.icontextarea:before {
  content: "\e610";
}

.icongen:before {
  content: "\e606";
}

.iconfileupload:before {
  content: "\e60b";
}

